<%= simple_form_for(dream, html: { class: 'form-container' }) do |f| %>
  <div class="mb-3">

    <%= f.input :title, placeholder: "Give a title to your dream...", input_html: { class: 'form-control' }, label: false %>
  </div>

  <div class="mb-3">
    <%= f.input :description, placeholder: "Tell us more about your dream...", input_html: { class: 'form-control' },label: false %>
  </div>

  <div class="mb-3">
    <%= f.input :category,
        collection: @categories,
        input_html: { class: 'form-control', data: { controller: "tom-select" } },label: 'Select a Category', prompt: 'Choose a category', label: false %>
  </div>

  <div class="mb-3">
    <%= f.input :price_per_night, placeholder: "Set your price", input_html: { class: 'form-control' }, label: false %>
  </div>

  <div class="mb-3">
      <%= f.input :age_limit,
      collection: @ages,
      input_html: { class: 'form-control', data: { controller: "tom-select" } },label: 'Set an age limit', prompt: 'Set an age limit', label: false %>

  </div>

  <div class="mb-3">
    <%= f.input :number_of_roles, placeholder: "How many characters you want", input_html: { class: 'form-control' }, label: false %>
  </div>

  <div class="mb-3">
    <%= f.input :photos, as: :file, placeholder: "Insert a mental picture of your dream", input_html: { class: 'form-control', multiple: true }, label: false %>
  </div>

  <div class="text-center">
    <%= f.submit "Submit", class: "btn btn-light btn-lg" %>
  </div>
<% end %>
