<div class="container display">
  <!-- Navbar section -->
  <div class="d-flex justify-content-between align-items-center bg-gradient rounded-5 m-3 p-3 shadow">
    <div class="d-flex align-items-center">
        <%= image_tag "https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/avatar-512.png", class: "rounded-circle", alt: "avatar", width: 70  %>
      </a>
      <h3 class="ms-3"> <%= @user.nickname %> </h3>
    </div>
    <div class="d-flex">
      <!-- Dreams Sold Card -->
      <div class="bg-transparent card shadow-sm rounded-lg m-1">
        <div class="card_dash-body">
          <h5 class="card_dash-title">My bookings</h5>
          <p class="card_dash-text fw-bold" id="reves-vendus">
            <%= @user.bookings.count %>

          </p>
        </div>
      </div>
      <!-- Total Earnings Card -->
    </div>
  </div>
  <!-- Main content section -->
  <div class="row text-center">
    <!-- Centered title -->
    <div class="col-12 mb-4">
      <h2 class="fw-bold">Dreams you've made</h2>
    </div>
    <!-- Dreams grid -->
    <div class="col-12 d-flex flex-wrap justify-content-center">
      <% @bookings.each do |booking| %>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
          <%= link_to dream_path(booking.dream), class: "text-decoration-none" do %>
            <div class="card h-100" data-aos="zoom-in">
              <% if booking.dream.photos.attached? %>
                <%= cl_image_tag(booking.dream.photos[0].key, crop: :fill, class: 'card-img-top same-size', alt: booking.dream.title) %>
              <% else %>
                <%= image_tag 'dreamdefault.png', class: 'card-img-top same-size', alt: booking.dream.title %>
              <% end %>
              <div class="card-body text-center">
                <h4 class="card-title"><%= booking.dream.title %></h4>
                <p class="card-text">
                  <strong><%= booking.dream.price_per_night %>€</strong> per night
                  <br>
                  4.5 <i class="fa fa-star"></i>
                </p>
                <%# <% if dream.boo %>
                <p class="text-secondary"> First night : <strong><%= booking.start_date %></strong></p>
                <p class="text-secondary"> Price per night: <strong><%= booking.dream.price_per_night %>€</strong></p>
                <% if booking.status = false %>
                <p class="text-secondary"> Booking request sent</p>
                <% else %>
                <p class="text-secondary"> Booking accepted !</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<style>
  /* Make sure all images have the same size */
  .same-size {
    width: 100%;
    height: 250px; /* Adjust the height to whatever fits your design */
    object-fit: cover; /* Ensures the image fills the container without distortion */
  }
</style>
