<h1><%= @dream.name %></h1>
<p><%= @dream.description %></p>

<h2>Reviews for this Dream:</h2>

<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= @review.rating %>/5
        <p><%= @review.comment %></p>
        <small>By Booking ID: <%= @review.booking_id %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews for this dream yet.</p>
<% end %>
